@model IEnumerable<BookWorm.Api.BookDto>
<section class="feature">
    <header>
        <h1>Latest Books</h1>
    </header>
    <ul class="books-list">
        @foreach (var item in Model)
        {
            <li  class="saved-book-status-container">
                <span class="saved-book-status @(item.IsSaved ? "saved": "")"></span>
                <a href="#"><img title="@item.Title" src="@item.Image"/></a>
                <h2><a href="#">@item.Title</a>
                </h2>
                <a href="#" class="price">@item.Price.ToString("C")</a>
            </li>
        }
    </ul>
</section>
