@model BookWorm.Web.Features.Search.List.BookListViewData
@using System
@using Bolt.Common.Extensions;
<section class="books-list feature">
    <h1>@Model.CategoryName</h1>
    @{
        var totalBooks = Model.Books.Length;

        if (totalBooks == 0)
        {
            <h2>Sorry no books available now</h2>
            return;
        }

        var groupCount = Math.Ceiling(totalBooks/(decimal)4);

        for (int i = 0; i < groupCount; i++)
        {
            <ul>
                @for (var j = 0; j < 4; j++)
                {
                    if (i * 4 + j < totalBooks)
                    {
                        var item = Model.Books[i * 4 + j];

                        <li class="saved-book-status-container">
                            <span class="saved-book-status @(item.IsSaved ? "saved" : "")"></span>
                            <a href="/books/details/@item.Id/@item.Title.ToSlug()"><img alt="@($"{item.Title} by {item.Author}")" src="@item.Image" /></a>
                            <h2>
                                <a href="#">@item.Title</a>
                            </h2>
                            <a class="price" href="#">@item.Price.ToString("C")</a>
                            <div class="links">
                                <a href="/books/details/@item.Id/@item.Title.ToSlug()">Details</a>
                                @if (item.TotalItemsInCart > 0)
                                {
                                    <a href="#">View (@item.TotalItemsInCart)</a>
                                }
                                else
                                {
                                    <a href="#">Add to Cart</a>
                                }
                            </div>
                        </li>
                    }
                    else
                    {
                        <li></li>
                    }
                }
            </ul>
        }
    }   
</section>
